<!DOCTYPE html>
<html>
	<head>
	
		<title>Thymeleaf and Thymesheet</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<!-- configuration parameters -->
		<meta name="defaultView" content="slideshow" />
		<meta name="controlVis" content="hidden" />
		
		<!-- style sheet links -->
		<link rel="stylesheet" href="/ui/default/slides.css" type="text/css" media="projection" id="slideProj" />
		<link rel="stylesheet" href="/ui/default/outline.css" type="text/css" media="screen" id="outlineStyle" />
		<link rel="stylesheet" href="/ui/default/print.css" type="text/css" media="print" id="slidePrint" />
		<link rel="stylesheet" href="/ui/default/opera.css" type="text/css" media="projection" id="operaFix" />
		
		<!-- embedded styles -->
		<style type="text/css" media="all">
			.imgcon {width: 525px; margin: 0 auto; padding: 0; text-align: center;}
			#anim {width: 270px; height: 320px; position: relative; margin-top: 0.5em;}
			#anim img {position: absolute; top: 42px; left: 24px;}
			img#me01 {top: 0; left: 0;}
			img#me02 {left: 23px;}
			img#me04 {top: 44px;}
			img#me05 {top: 43px;left: 36px;}
		</style>
		
		<!-- S5 JS -->
		<script src="/ui/default/slides.js" type="text/javascript"></script>
		
	</head>
	<body>
		<div class="layout">
			<div id="controls"></div>
			<div id="currentSlide"></div>
			<div id="header"></div>
			<div id="footer">
				<h1>Thymeleaf and Thymesheet</h1>
				<h2>Easy Java Templating in vanilla HTML</h2>
			</div>
		</div>
		
		<div class="presentation">
		
			<div class="slide">
				<h1>Thymeleaf and Thymesheet</h1>
				<h2>Easy Java Templating in vanilla HTML</h2>
				<h3>Ruth Mills</h3>
				<h4>Java Lead Developer, Connect Group</h4>
			</div>
			
			<div class="slide">
				<h1>What is Thymeleaf?</h1>
				<ul class="incremental">
					<li>Java-based and Open Source</li>
					<li>XML / XHTML / HTML5 template engine (extensible to other formats)</li>
					<li>Can replace JSP as view layer</li>
					<li>Integrates with SpringMVC</li>
					<li>Works with Maven (just add to POM)</li>
					<li>Works with Spring Boot "out of the box" with no additional configuration required</li>
					<li>Works with "vanilla" HTML (which can still be viewed offline)</li>
					<li>Thymeleaf mark-up is added as HTML5 data attributes, e.g. data-th-attr, data-th-text, etc.</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>What is Thymesheet?</h1>
				<ul class="incremental">
					<li>Thymesheet is an Open Source extension to Thymeleaf</li>
					<li>Thymesheet uses a separate .tss file (using CSS3-based syntax)</li>
					<li>HTML does not need to be modified - all mappings can be made in the .tss file</li>
					<li>Works really well on Agile teams where different people are working on front-end and back-end development</li>
					<li>Also integrates with SpringMVC</li>
					<li>Also works with Maven (just add to POM)</li>
					<li>Also works with Spring Boot (although additional configuration is required at the present moment in time)</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Setting up Thymeleaf</h1>
				<ul>
					<li>Quickest way to get up and running is to use <a href="http://projects.spring.io/spring-boot/" target="_blank">Spring Boot</a></li>
					<li>Configure and download a new Maven project using <a href="http://start.spring.io/" target="_blank">Spring Initializr</a>, making sure that
					you tick the Thymeleaf box, which will include all the necessary Thymeleaf dependencies</li>
					<li>You will need to add your Thymeleaf templates under the <b>src/main/resources/templates</b> folder in your application</li>
					<li>e.g. if your controller returns a view of "index", then you will need to create a Thymeleaf template called index.html directly within your
					templates folder</li>
					<li>Your application will fail to start up unless you create at least one Thymeleaf template under the templates folder</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Setting Up Thymesheet</h1>
				<ul>
					<li>If you are using Spring Boot, and have created a project using <a href="http://start.spring.io/" target="_blank">Spring Initializr</a> where you have
					ticked the Thymeleaf box, add the following dependencies to your POM:<br/><br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&lt;dependency&gt;<br/>
        				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;groupId&gt;com.connect-group&lt;/groupId&gt;<br/>
        				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;artifactId&gt;thymesheet-spring4&lt;/artifactId&gt;<br/>
        				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;version&gt;2.1.2&lt;/version&gt;<br/>
    					&nbsp;&nbsp;&nbsp;&nbsp;&lt;/dependency&gt;<br/><br/>
    					&nbsp;&nbsp;&nbsp;&nbsp;&lt;dependency&gt;<br/>
					  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;groupId&gt;net.sourceforge.nekohtml&lt;/groupId&gt;<br/>
					  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;artifactId&gt;nekohtml&lt;/artifactId&gt;<br/>
					  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;version&gt;1.9.18&lt;/version&gt;<br/>
					  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/dependency&gt;&nbsp;
 					</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Setting Up Thymesheet</h1>
				<ul>
					<li>Thymesheet needs some additional configuration before it will work</li>
					<li>In particular, we need to tell Spring that we are using Thymesheet as well as Thymeleaf, and where the application should look for the
					Thymesheet .tss files</li>
					<li>The configuration to do this is in the <b>com.connect_group.thymeleaf_demo.config</b> package (and sub packages) - please feel free to
					steal and cannibalise to meet your needs</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Testing your mappings using TDD</h1>
				<ul>
					<li>One big advantage is that you can test your mappings using TDD</li>
					<li>A unit testing library is available that uses JUnit and Hamcrest:<br/><br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&lt;dependency&gt;<br/>
		  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;groupId&gt;com.connect-group&lt;/groupId&gt;<br/>
		  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;artifactId&gt;thymeleaf-tdd&lt;/artifactId&gt;<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;version&gt;1.0.4&lt;/version&gt;<br/>
	 	  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;scope&gt;test&lt;/scope&gt;<br/>
	  					&nbsp;&nbsp;&nbsp;&nbsp;&lt;/dependency&gt;<br/>
	  					&nbsp;
					</li>
					<li>Several new Hamcrest matchers have been added to make it easy to write asserts</li>
					<li>You can also extend the framework by writing your own Hamcrest matchers</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Hamcrest Matchers</h1>
				<ul class="incremental">
					<li><b>Exists</b> - checks if an element exists (does not matter if once or more than once)</li>
					<li><b>HasAttribute</b> - checks if an element has a particular attribute</li>
					<li><b>HasChildren</b> - checks if an element has child elements</li>
					<li><b>HasClass</b> - checks if an element has a particular CSS class</li>
					<li><b>HasComment</b> - checks if an element has an HTML comment within it</li>
					<li><b>HasOnlyText</b> - checks if an element contains only text (so no child elements as well)</li>
					<li><b>HasTextAfterElement</b> - checks if an element contains text after a child element</li>
					<li><b>HasTextBeforeElement</b> - checks if an element contains text before a child element</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Hamcrest Matchers</h1>
				<ul class="incremental">
					<li><b>HasTextInOrder</b> - checks if an element contains text in a particular order</li>
					<li><b>IsSingleElementThat</b> - checks if an element only occurs once, and matches a Hamcrest matcher nested inside it</li>
					<li><b>OccursOnce</b> - checks if an element only occurs once</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>TDD Demo - Thymeleaf</h1>
			</div>
			
			<div class="slide">
				<h1>TDD Demo - Thymesheet</h1>
			</div>
			
			<div class="slide">
				<h1>Further Resources</h1>
				<ul>
					<li>Thymeleaf - <a href="http://www.thymeleaf.org/" target="_blank">http://www.thymeleaf.org/</a></li>
					<li>Thymesheet - <a href="https://github.com/connect-group/thymesheet" target="_blank">https://github.com/connect-group/thymesheet</a></li>
					<li>Spring Boot - <a href="http://projects.spring.io/spring-boot/" target="_blank">http://projects.spring.io/spring-boot/</a></li>
					<li>Spring Initializr - <a href="http://start.spring.io/" target="_blank">http://start.spring.io/</a></li>
					<li>Connect Group - <a href="http://www.connect-group.com/" target="_blank">http://www.connect-group.com/</a></li>
					<li>S5 - A Simple Standards-Based Slide Show System - <a href="http://meyerweb.com/eric/tools/s5/" target="_blank">http://meyerweb.com/eric/tools/s5/</a></li>
				</ul>
			</div>
				
		</div>
	</body>
</html>
