<!DOCTYPE html>
<html>
	<head>
	
		<title>Thymeleaf and Thymesheet</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<!-- configuration parameters -->
		<meta name="defaultView" content="slideshow" />
		<meta name="controlVis" content="hidden" />
		
		<!-- stylesheet links -->
		<link rel="stylesheet" href="/ui/default/slides.css" type="text/css" media="projection" id="slideProj" />
		<link rel="stylesheet" href="/ui/default/outline.css" type="text/css" media="screen" id="outlineStyle" />
		<link rel="stylesheet" href="/ui/default/print.css" type="text/css" media="print" id="slidePrint" />
		<link rel="stylesheet" href="/ui/default/opera.css" type="text/css" media="projection" id="operaFix" />
				
		<!-- S5 JS -->
		<script src="/ui/default/slides.js" type="text/javascript"></script>
		
	</head>
	<body>
		<div class="layout">
			<div id="controls"></div>
			<div id="currentSlide"></div>
			<div id="header"></div>
			<div id="footer">
				<h1>Thymeleaf and Thymesheet</h1>
				<h2>Easy Java Templating in vanilla HTML</h2>
			</div>
		</div>
		
		<div class="presentation">
		
			<div class="slide">
				<h1>Thymeleaf and Thymesheet</h1>
				<h2>Easy Java Templating in vanilla HTML</h2>
				<h3>Ruth Mills</h3>
				<h4>Java Lead Developer, Connect Group</h4>
			</div>
			
			<div class="slide">
				<h1>Setting up the demo</h1>
				<ul>
					<li>Clone the Git repository: <b>git clone https://github.com/agilestaffordshire/thymeleaf-and-thymesheet.git</b></li>
					<li>If you are using an IDE, e.g. Eclipse, STS, or IntelliJ IDEA, start the webapp within your IDE</li>
					<li>If you are <b>NOT</b> using an IDE, then you will need do the following steps to start the webapp:
						<ul>
							<li>Change directory: <b>cd thymeleaf-and-thymesheet/thymeleaf_demo</b></li>
							<li>Run the Maven build: <b>mvn install</b></li>
							<li>Start the application: <b>java -jar target/thymeleaf_demo-0.0.1-SNAPSHOT.jar</b>
						</li>
					</ul>
					<li>Go to <b>http://localhost:8080/</b> to view the demo</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>What is Thymeleaf?</h1>
				<ul class="incremental">
					<li>Java-based and Open Source</li>
					<li>XML / XHTML / HTML5 template engine (extensible to other formats)</li>
					<li>Can replace JSP as view layer</li>
					<li>Integrates with SpringMVC</li>
					<li>Works with Maven (just add to POM)</li>
					<li>Works with Spring Boot "out of the box" with no additional configuration required</li>
					<li>Works with "vanilla" HTML (which can still be viewed offline)</li>
					<li>Thymeleaf mark-up is added as HTML5 data attributes, e.g. data-th-attr, data-th-text, etc.</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>What is Thymesheet?</h1>
				<ul class="incremental">
					<li>Thymesheet is an Open Source extension to Thymeleaf</li>
					<li>Thymesheet uses a separate .tss file (using CSS3-based syntax)</li>
					<li>HTML does not need to be modified - all mappings can be made in the .tss file</li>
					<li>Works really well on Agile teams where different people are working on front-end and back-end development</li>
					<li>Also integrates with SpringMVC</li>
					<li>Also works with Maven (just add to POM)</li>
					<li>Also works with Spring Boot (although additional configuration is required at the present moment in time)</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Setting up Thymeleaf</h1>
				<ul>
					<li>Quickest way to get up and running is to use <a href="http://projects.spring.io/spring-boot/" target="_blank">Spring Boot</a></li>
					<li>Configure and download a new Maven project using <a href="http://start.spring.io/" target="_blank">Spring Initializr</a>, making sure that
					you tick the Thymeleaf box, which will include all the necessary Thymeleaf dependencies</li>
					<li>You will need to add your Thymeleaf templates under the <b>src/main/resources/templates</b> folder in your application</li>
					<li>e.g. if your controller returns a view of "index", then you will need to create a Thymeleaf template called index.html directly within your
					templates folder</li>
					<li>Your application will fail to start up unless you create at least one Thymeleaf template under the templates folder</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Setting Up Thymesheet</h1>
				<ul>
					<li>If you are using Spring Boot, and have created a project using <a href="http://start.spring.io/" target="_blank">Spring Initializr</a> where you have
					ticked the Thymeleaf box, add the following dependencies to your POM:<br/><br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&lt;dependency&gt;<br/>
        				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;groupId&gt;com.connect-group&lt;/groupId&gt;<br/>
        				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;artifactId&gt;thymesheet-spring4&lt;/artifactId&gt;<br/>
        				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;version&gt;2.1.2&lt;/version&gt;<br/>
    					&nbsp;&nbsp;&nbsp;&nbsp;&lt;/dependency&gt;<br/><br/>
    					&nbsp;&nbsp;&nbsp;&nbsp;&lt;dependency&gt;<br/>
					  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;groupId&gt;net.sourceforge.nekohtml&lt;/groupId&gt;<br/>
					  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;artifactId&gt;nekohtml&lt;/artifactId&gt;<br/>
					  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;version&gt;1.9.18&lt;/version&gt;<br/>
					  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/dependency&gt;&nbsp;
 					</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Setting Up Thymesheet</h1>
				<ul>
					<li>Thymesheet needs some additional configuration before it will work with Spring Boot</li>
					<li>In particular, we need to tell Spring that we are using Thymesheet as well as Thymeleaf, and where the application should look for the
					Thymesheet .tss files</li>
					<li>Example configuration to do this is in the <b>com.connect_group.thymeleaf_demo.config</b> package (and sub packages) under <b>src/main/java</b> -
					please feel free to steal and cannibalise to meet your needs</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Why are Thymeleaf &amp; Thymesheet so cool?</h1>
				<ul class="incremental">
					<li>Both let you dynamically map data from your application into an HTML template</li>
					<li>But without changing the look and feel of the original HTML</li>
					<li>So your designers/front-end developers can continue to work on the HTML off-line</li>
					<li>They don't need to know anything about Java or JSP or whatever</li>
					<li>Nor do they have to fire up the Java application to view the web page</li>
					<li>With Thymeleaf, data bindings are in the HTML, using HTML5 data attributes</li>
					<li>Thymesheet goes one better - all the data bindings are done in a separate .tss file, so the original HTML doesn't
					need to be modified at all</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Replacing text content</h1>
				<ul class="incremental">
					<li><b>th-text</b> - replaces the content within an element with <b>escaped</b> text</li>
					<li><b>th-utext</b> - replaces the content within an element with <b>unescaped</b> text - e.g. HTML content
					retrieved from a CMS</li>
					<li><a href="/examples/replacingTextContent.html" target="_blank">Click here</a> for an example</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Adding/updating/removing attributes</h1>
				<ul class="incremental">
					<li><b>th-attr</b> - adds/updates/removes an attribute on a given element</li>
					<li>e.g. data-th-attr="data-example='some test text'" will add an attribute, data-example="some test text" to an element,
					or replace the contents of an existing data-example attribute with "some test text"</li>
					<li>To remove an attribute, set the text to an empty string, e.g. data-th-attr="data-example=''" will remove
					an existing data-example attribute from an element</li>
					<li>If working with attributes that are part of the HTML spec, e.g. src, class, style, etc, it's best to use the
					corresponding Thymeleaf attribute for this, e.g. data-th-class="'my-css-class'" will set an element's CSS class to "my-css-class"</li>
					<li><a href="/examples/addingUpdatingRemovingAttributes.html" target="_blank">Click here</a> for an example</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Conditionally outputting an element</h1>
				<ul class="incremental">
					<li><b>th-if</b> - outputs an element (and its children) only if a Boolean condition is true</li>
					<li>e.g. <b>data-th-if="true"</b> will always output the element</li>
					<li>e.g. <b>data-th-if="false"</b> will never output the element</li>
					<li><a href="/examples/conditionallyOutputtingAnElement.html" target="_blank">Click here</a> for an example</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Switching between cases</h1>
				<ul class="incremental">
					<li><b>th-switch</b> - add this to an element that you want to switch between the child elements of</li>
					<li>e.g. adding <b>data-th-switch="*{myValueToSwitchOn}"</b> to an element will let you switch between its children.</li>
					<li><b>th-case</b> - add this to a child element that you want to be one of the switch cases</li>
					<li>e.g. adding <b>data-th-case="'expected-value'"</b> to a child element will output that element only if myValueToSwitchOn is equal to "expected-value".</li>
					<li>For the default case (where myValueToSwitchOn does not match any other case), use: <b>data-th-case="*"</b></li>
					<li><a href="/examples/switchingBetweenCases.html" target="_blank">Click here</a> for an example</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Removing elements</h1>
				<ul class="incremental">
					<li><b>th-remove</b> - removes elements depending on the value of the attribute</li>
					<li><b>data-th-remove="all"</b> - remove both the containing tag and all its children</li>
					<li><b>data-th-remove="body"</b> - do not remove the containing tag, but remove all its children</li>
					<li><b>data-th-remove="tag"</b> - remove the containing tag, but do not remove its children</li>
					<li><b>data-th-remove="all-but-first"</b> - remove all the children of the containing tag except the first one</li>
					<li><b>data-th-remove="none"</b> - do nothing (this value is useful for dynamic evaluation)</li>
					<li><a href="/examples/removingElements.html" target="_blank">Click here</a> for an example</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Iterating through a list</h1>
				<ul class="incremental">
					<li><b>th-each</b> - iterates through a list repeating the selected element</li>
					<li>e.g. data-th-each="myListEntry: *{myList}" will iterate through every item in myList</li>
					<li>You can then refer to, e.g. <b>${myListEntry}</b> to access data within the current list entry</li>
					<li>Note the use of the dollar notation to refer to the current list item</li>
					<li>Remember to use <b>th-remove</b> to remove any duplicate elements you're not interested in first,
					so you are only repeating a single element - this is especially important when using Thymesheet</li>
					<li><a href="/examples/iteratingThroughAList.html" target="_blank">Click here</a> for an example</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Testing your mappings using TDD</h1>
				<ul class="incremental">
					<li>One big advantage of Thymeleaf and Thymesheet is that you can test your mappings using TDD</li>
					<li>A unit testing library is available that uses JUnit and Hamcrest</li>
					<li>You should write tests for every substitution that you make in the HTML using Thymeleaf or Thymesheet</li>
					<li>If the HTML is changed, you should then be alerted, as one or more of your tests should fail</li>
					<li>Several new Hamcrest matchers have been added to make it easy to write asserts</li>
					<li>You can also extend the framework by writing your own Hamcrest matchers</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Setting Up Thymeleaf TDD Framework</h1>
				<ul>
					<li>Add the following dependency to your POM:
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&lt;dependency&gt;<br/>
			  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;groupId&gt;com.connect-group&lt;/groupId&gt;<br/>
			  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;artifactId&gt;thymeleaf-tdd&lt;/artifactId&gt;<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;version&gt;1.0.4&lt;/version&gt;<br/>
		 	  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;scope&gt;test&lt;/scope&gt;<br/>
		  					&nbsp;&nbsp;&nbsp;&nbsp;&lt;/dependency&gt;</p>
					</li>
					<li>The TDD framework also needs some additional configuration before it will work with Thymesheet and Spring Boot</li>
					<li>Example configuration to do this is in the <b>com.connect_group.thymeleaf_demo.config</b> package (and sub packages) under <b>src/test/java</b> -
					again, please feel free to steal and cannibalise</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Hamcrest Matchers</h1>
				<ul class="incremental">
					<li><b>Exists</b> - checks if an element exists (does not matter if once or more than once)</li>
					<li><b>HasAttribute</b> - checks if an element has a particular attribute</li>
					<li><b>HasChildren</b> - checks if an element has child elements</li>
					<li><b>HasClass</b> - checks if an element has a particular CSS class</li>
					<li><b>HasComment</b> - checks if an element has an HTML comment within it</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Hamcrest Matchers</h1>
				<ul class="incremental">
					<li><b>HasOnlyText</b> - checks if an element contains only text (so no child elements as well)</li>
					<li><b>HasTextAfterElement</b> - checks if an element contains text after a child element</li>
					<li><b>HasTextBeforeElement</b> - checks if an element contains text before a child element</li>
					<li><b>HasTextInOrder</b> - checks if an element contains text in a particular order</li>
					<li><b>IsSingleElementThat</b> - checks if an element only occurs once, and matches a Hamcrest matcher nested inside it</li>
					<li><b>OccursOnce</b> - checks if an element only occurs once</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>TDD Example - Cars</h1>
				<ul class="incremental">
					<li>Here's one I prepared earlier! It's a list of car makes, where each car make has a nested list of car models</li>
					<li>The example HTML has models for Ford, Tesla and Volkswagen</li>
					<li>The controller is returning models for Jaguar and Land Rover</li>
					<li>All JUnit tests have got the <b>@Ignore</b> annotation so they don't run</li>
					<li>All Thymesheet expressions have been commented out</li>
					<li>We will uncomment each test one by one, watch it fail, and then uncomment the corresponding line of TSS,
					re-run and watch the test pass</li>
					<li><a href="/tdd/cars.html" target="_blank">Click here</a> to view the output of the web page</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>TDD Example - Music</h1>
				<ul class="incremental">
					<li>Here's one for you to do! This time, it's a list of music artists, where each artist has a nested list of albums,
					and it's quite a bit more complicated!</li>
					<li>Remember to use the TDD process:</li>
					<li>1. Write the simplest possible test</li>
					<li>2. Run all your tests - the new test should fail</li>
					<li>3. Write a single Thymeleaf or Thymesheet expression</li>
					<li>4. Re-run all your tests - which should now all pass</li>
					<li>5. Repeat until you have completed all your data mappings</li>
					<li><a href="/tdd/music.html" target="_blank">Click here</a> to view the output of the web page</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>TDD Example - Music - Artist Tabs</h1>
				<ul class="incremental">
					<li>1. Remove all but the first &lt;li&gt; element for the tabs at the top of the page.</li>
					<li>2. Iterate over each artist to output a tab for each artist, e.g. <b>data-th-each="artist,artistStatus: *{artists}"</b></li>
					<li>3. Only the first tab should have the active class set on it, e.g. <b>data-th-class="'tab-title' + (${artistStatus.first} ? ' active' : '')"</b></li>
					<li>4. Set the href for each tab, e.g. <b>data-th-href="'#artist' + ${artistStatus.count}"</b></li>
					<li>5. Set the artist name for each tab.</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>TDD Example - Music - Artist Tab Content</h1>
				<ul class="incremental">
					<li>1. Remove all but the first <b>&lt;div class="artist"&gt;</b> element for the tabs at the top of the page.</li>
					<li>2. Iterate over each artist to output tab content for each artist, e.g. <b>data-th-each="artist,artistStatus: *{artists}"</b></li>
					<li>3. Only the first artist should have the active class set on it, e.g. <b>data-th-class="'artist content' + (${artistStatus.first} ? ' active' : '')"</b></li>
					<li>4. Set the id for each artist, e.g. <b>data-th-id="'artist' + ${artistStatus.count}"</b></li>
					<li>5. Set the src attribute for the artist image.</li>
					<li>6. Set the name and bio for the artist. Be aware that the bio can contain HTML, so should be unescaped.</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>TDD Example - Music - Albums Accordion</h1>
				<ul class="incremental">
					<li>1. Remove all but the first <b>&lt;li class="album"&gt;</b> element for the accordion of albums.</li>
					<li>2. Iterate over each album to output the accordion entry for each album, e.g. <b>data-th-each="album,albumStatus: ${artist.albums}"</b></li>
					<li>3. Set the href for the accordion entry, e.g. <b>data-th-href="'#artist' + ${artistStatus.count} + '-album' + ${albumStatus.count}"</b></li>
					<li>4. Set the name of the album in the accordion entry.</li>
					<li>5. Set the id for each album, e.g. <b>data-th-id="'artist' + ${artistStatus.count} + '-album' + ${albumStatus.count}"</b></li>
					<li>6. Only the first album div should have the active class set on it, e.g. <b>data-th-class="'content' + (${albumStatus.first} ? ' active' : '')"</b></li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>TDD Example - Music - Album Content</h1>
				<ul class="incremental">
					<li>1. Set the src attribute for the album image.</li>
					<li>2. Set the name for the album.</li>
					<li>3. Set the description for the album. Be aware that the description can contain HTML, so should be unescaped.</li>
					<li>4. Only show the CD image if the CD is available.</li>
					<li>5. Only show the vinyl record image if the vinyl is available.</li>
					<li>6. Only show the donwnload image if the download is available.</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Further Resources</h1>
				<ul>
					<li>Thymeleaf - <a href="http://www.thymeleaf.org/" target="_blank">http://www.thymeleaf.org/</a></li>
					<li>Thymesheet - <a href="https://github.com/connect-group/thymesheet" target="_blank">https://github.com/connect-group/thymesheet</a></li>
					<li>Spring Boot - <a href="http://projects.spring.io/spring-boot/" target="_blank">http://projects.spring.io/spring-boot/</a></li>
					<li>Spring Initializr - <a href="http://start.spring.io/" target="_blank">http://start.spring.io/</a></li>
					<li>Connect Group - <a href="http://www.connect-group.com/" target="_blank">http://www.connect-group.com/</a></li>
					<li>S5 - A Simple Standards-Based Slide Show System - <a href="http://meyerweb.com/eric/tools/s5/" target="_blank">http://meyerweb.com/eric/tools/s5/</a></li>
				</ul>
			</div>
				
		</div>
	</body>
</html>
