<!DOCTYPE html>
<html>
	<head>
		<title>Switching Between Cases</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		<h1>Switching Between Cases</h1>
		<h2>We switch at random between the four Teletubbies</h2>
		<h2>The default case shows the Noo-Noo</h2>
		<h2>This time round, we are <span style="color: red;" data-th-text="*{teletubby}"></span></h2>
		<div>
			<img class="tinky-winky" src="/test-images/tinky-winky.jpg"/>
			<img class="dipsy" src="/test-images/dipsy.jpg"/>
			<img class="laa-laa" src="/test-images/laa-laa.jpg"/>
			<img class="po" src="/test-images/po.jpg"/>
			<img class="noo-noo" src="/test-images/noo-noo.jpg"/>
		</div>
	</body>
</html>
